#login{
    margin-top: 50px;
    max-width: 600px;
    // min-width: 350px;
    padding: 15px;
    border-radius: 10px;
    background: rgb(5,68,94);
    background: -moz-linear-gradient(90deg, rgba(5,68,94,1) 0%, rgba(142,61,235,1) 51%, rgba(175,12,208,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(5,68,94,1) 0%, rgba(142,61,235,1) 51%, rgba(175,12,208,1) 100%);
    background: linear-gradient(90deg, rgba(5,68,94,1) 0%, rgba(142,61,235,1) 51%, rgba(175,12,208,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#05445e",endColorstr="#af0cd0",GradientType=1);
}

.block{
    background-color: white;
    border-radius: 10px;
}

@media (max-width:600px){
    #login{
        width: 100%;
    }
}