<h2 mat-dialog-title>Save {{(data.option==1)?'Proyect':'Snippet'}}</h2>
<mat-dialog-content class="mat-typography">
    <div *ngIf="data.id==null">
        <div class="mb-3" >
            <label for="InputPass" class="form-label">Name {{(data.option==1)?'Proyect':'Snippet'}}</label>
          <input type="text" [(ngModel)]="nombre" class="form-control" id="InputPass" aria-describedby="emailHelp">
        </div>
        
        <div class="mb-3">
          <label for="folderSelect" class="form-label">Folder</label>
          <select class="form-select" [(ngModel)]="idCarpeta" aria-label="Default select example" id="folderSelect">
              <option *ngFor="let folder of folders" value="{{folder._id}}">{{folder.nombre}}</option>
          </select>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button (click)="close()" color="warn">Cancel</button>
  <button mat-raised-button cdkFocusInitial (click)="save()" color="primary">Save</button>
</mat-dialog-actions>
