<nav>
    <div class="d-sm-flex justify-content-between">
        <div class="form-group ms-md-3 ms-sm-1 ms-auto">
            <label for="inputName">Snippet: {{nameSnippet}}</label>
        </div>
        <div class="form-group me-md-3 me-sm-1 me-auto">
            <label for="mode">Snippet</label>
            <select name="" id="mode" class="form-control form-control-sm" [(ngModel)]="lang">
                <option *ngFor="let item of languages" value="{{item.mode}}">{{item.language}}</option>
            </select>
        </div>
    </div>
</nav>
<app-editor [showSnippet]="true" [mode]="lang" [textSnippet]="textSnippet" (save)="save($event)"></app-editor>
