<h2 mat-dialog-title>Install Angular</h2>
<mat-dialog-content class="mat-typography">
    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Password</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">Write your current password</div>
        </div>
        <div class="mb-3">
          <label for="InputPassword1" class="form-label">New Password</label>
          <input type="password" class="form-control" id="InputPassword1">
        </div>
        <div class="mb-3">
          <label for="InputPassword2" class="form-label">Comfirm Password</label>
          <input type="password" class="form-control" id="InputPassword2">
        </div>
      </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
  <button mat-raised-button cdkFocusInitial color="primary">Save</button>
</mat-dialog-actions>