<h2 mat-dialog-title> <mat-icon>key</mat-icon> Change Password</h2>
<mat-dialog-content class="mat-typography">
    <form>
      <mat-form-field appearance="fill">
        <mat-label>Current Password</mat-label>
        <input matInput [formControl]="password" type="password" required>
        <mat-error *ngIf="password.invalid">Password invalid or is missing</mat-error>
      </mat-form-field>
      <br>

        <mat-form-field appearance="fill">
          <mat-label>New Password</mat-label>
          <input matInput [formControl]="newPassword" [type]="hide ? 'password' : 'text'" required>
          <span mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </span>
          <mat-hint>{{(newPassword.valid)? 'Password secure': 'Enter 6 digits between numbers letters Mayus minus and # - _'}}</mat-hint>
          <mat-error *ngIf="newPassword.invalid">Password not secure</mat-error>
        </mat-form-field>
        <br>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Confirm Password</mat-label>
          <input matInput [formControl]="new2Password" type="password" (input)="campare_Password()" required>
          <mat-hint>{{equals? 'Passwords match': 'Passwords not match'}}</mat-hint>
          <mat-error *ngIf="new2Password.invalid">Password invalid</mat-error>
        </mat-form-field>
      </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="warn">Cancel</button>
  <button mat-raised-button cdkFocusInitial color="primary" (click)="save()">Save</button>
</mat-dialog-actions>